#################### ディレクトリ除外 ####################
.git/
__pycache__/
tests/
notebooks/
k8s/
infra/terraform/
.idea/
.vscode/
ops/**                      # ← まず ops 配下をすべて除外

#################### ファイル除外 ####################
*.pyc
*.pyo
*.pyd
*.sqlite*
*.db
*.log
.gitignore                  # （誤って commit しないため明示）

#################### 例外で拾い直す ####################
!pyproject.toml
!poetry.lock
!ops/init-dsl.sh            # ← 必要なシェルだけ再包含
