#################### Directories to ignore ####################
.git/
__pycache__/
tests/
notebooks/
infra/k8s/
infra/terraform/
.idea/
.vscode/
 ops/

#################### Files to ignore ####################
*.pyc
*.pyo
*.pyd
*.sqlite*
*.db
*.log
.gitignore

#################### Exceptions ####################
!pyproject.toml
!poetry.lock
!ops/init-dsl.sh
