# ---------- ディレクトリ除外 ----------
.git/
__pycache__/
tests/
notebooks/
infra/k8s/
infra/terraform/
.idea/
.vscode/

# ---------- ファイル除外 ----------
*.pyc
*.pyo
*.pyd
*.sqlite*
*.db
*.log
.gitignore

# ---------- ⬇ ここから例外 ⬇ ----------
!pyproject.toml
!poetry.lock
!ops/init-dsl.sh

