########## CI で必要な物だけ再許可 ##########
!docker/compose.ci.yml
!sdk-py/
!sdk-py/**

########## 環境変数・一時 ##########
.env*
*.bak
*.backup
*.tmp

########## Python キャッシュ ##########
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
.pytest_cache/
.ruff_cache/
.isort.cfg
.ipynb_checkpoints/

########## Poetry / venv ##########
.venv/
.env.*.local

########## Docker (CI 用以外) ##########
docker-compose.yml
docker/compose.flower.yml
ops/init-*.sh
!ops/init-dsl.sh
docker-compose.ym*

########## アーカイブ・ログ ##########
*.zip
*.tar.gz
*.log

########## IDE / Editor ##########
.vscode/
.idea/
*.sublime-workspace

########## OpenAPI / 自動生成 ##########
openapi.json
openapitools.json
