# docker/compose.redis.yml
#
# 笏笏 Redis 縺ｮ縺ｿ繧貞句挨 override 縺励◆縺上↑縺｣縺滓凾逕ｨ縺ｮ 窶懃ｩｺ繝・Φ繝励Ξ窶昴・

services:
  redis:
    # 萓具ｼ壹・繝ｪ繝･繝ｼ繝繧・maxmemory 繧堤腸蠅・＃縺ｨ縺ｫ螟峨∴繧狗ｭ・
    # command: >
    #   redis-server --requirepass ${REDIS_PASSWORD} --maxmemory 512mb
